/**
 * Global
 *
 * Styles and mixins that are used throughout the website. Keep things logically
 * separated into concern-based filenames (ie typography, forms, etc).
 * The order of these includes is important.
 **/
* {
  border: 0;
  margin: 0;
  padding: 0; }

/* Fonts */
/* Breakpoints */
/**
 * Colours
 **/
/**
 * Map names to colours
 * @type {[type]}
 */
.black-text {
  color: #000000 !important; }

.black-bg {
  background-color: #000000 !important; }
  .black-bg.semi-trans {
    background-color: rgba(0, 0, 0, 0.95) !important; }
  .black-bg .darken {
    background-color: black !important; }

.white-text {
  color: #FFFFFF !important; }

.white-bg {
  background-color: #FFFFFF !important; }
  .white-bg.semi-trans {
    background-color: rgba(255, 255, 255, 0.95) !important; }
  .white-bg .darken {
    background-color: #f2f2f2 !important; }

.grey-text {
  color: #BBBBBB !important; }

.grey-bg {
  background-color: #BBBBBB !important; }
  .grey-bg.semi-trans {
    background-color: rgba(187, 187, 187, 0.95) !important; }
  .grey-bg .darken {
    background-color: #aeaeae !important; }

.light_grey-text {
  color: #EEEEEE !important; }

.light_grey-bg {
  background-color: #EEEEEE !important; }
  .light_grey-bg.semi-trans {
    background-color: rgba(238, 238, 238, 0.95) !important; }
  .light_grey-bg .darken {
    background-color: #e1e1e1 !important; }

/**
 * Retrieve colour from $colours map
 * @param  {string} $key [name of colour, as defined in $colours map]
 * @return hex colour
 */
/**
 * [Subtracts the border and padding from the width of the element.]
 */
/**
 * [scale description]
 * @param  {[int]} $zoom [The level of zoom you want on the element. eg: '1.1'.]
 */
/**
 * [Pass the angle you want the element to rotate. eg: 90deg. NOTE: You need to add 'deg' to the angle. eg: 90deg.]
 * @param  {[int with 'deg' appended]} $deg [The angle of the rotation]
 */
/**
 * [Rotate and vertically align element within a relatively positioned element. NOTE: You need to add 'deg' to the angle. eg: 90deg.]
 * @param  {[percentage]} $topPos [Pass the vertical position as a percetage. eg 50% will horizontally center align the element.]
 * @param  {[int with 'deg' appended]} $deg [The angle of the rotation]
 */
/**
 * [Rotate and horizontally align element within a relatively positioned element. NOTE: You need to add 'deg' to the angle. eg: 90deg.]
 * @param  {[percentage]} $topPos [Pass the vertical position as a percetage. eg 50% will horizontally center align the element.]
 * @param  {[int with 'deg' appended]} $deg [The angle of the rotation]
 */
/**
 * [Vertically align element within a relatively positioned element.]
 * @param  {[percentage]} $topPos [Pass the vertical position as a percetage. eg 50% will vertically center align the element.]
 */
/**
 * [Horizontally align element within a relatively positioned element.]
 * @param  {[percentage]} $leftPos [Pass the vertical position as a percetage. eg 50% will horizontally center align the element.]
 */
/**
 * [Horizontally and vertically align element within a relatively positioned element.]
 * @param  {[percentage]} $leftPos [Pass the horizontally position as a percetage. eg 50% will horizontally center align the element.]
 * @param  {[percentage]} $topPos [Pass the vertical position as a percetage. eg 50% will horizontally center align the element.]
 */
/**
 * [transition description]
 * @param  {[style]} $propertie [The style you want to animate. Defaults to 'all'.]
 * @param  {[int in seconds]} $time      [The speed at which you want the transition to take. Defaults to '0.3s'.]
 * @param  {[movement type]} $mode      [The type of movement you want eg: linear, ease, ease-in, ease-out. Defaults to 'linear'.]
 */
/**
 * Grid panels
 * Creates a grid of items that have a fixed height
 * @param $cols int = number of items per row
 * @param $col_gap percent = gap between items in each row (optional, defaults to 2%)
 * @param $row_gap percent = gap between row (optional, defaults to two times col_gap (4%))
 **/
/**
 * Ease between states
 * Use this to smooth hover/active/focus events
 **/
/**
 * Clearfix
 **/
/**
 * Multi-column
 * @param $cols int = number of columns to span
 * @param $sum int = total number of columns
 * @param $gap mixed = gap between items (optional, defaults to 1rem)
 **/
.inner {
  max-width: 1450px;
  margin: 0 auto; }

.cf::after {
  content: '';
  clear: both;
  display: block; }

/* 
In conjunction with video embed fix /app/js/components/content-video-embeds.js
*/
.ss-htmleditorfield-file.embed {
  width: 0;
  height: 0; }
  .ss-htmleditorfield-file.embed.leftAlone {
    float: left; }
  .ss-htmleditorfield-file.embed.rightAlone {
    float: right; }
  .ss-htmleditorfield-file.embed.center {
    display: block;
    float: none;
    margin: 0 auto; }
  .ss-htmleditorfield-file.embed.left {
    float: left;
    padding-right: 0.5em; }
  .ss-htmleditorfield-file.embed.right {
    float: right;
    padding-left: 0.5em; }

/* 
In conjunction with image alignment fix /app/js/components/content-image-alignment.js
*/
.captionImage,
.ss-htmleditorfield-file.image {
  max-width: 100%;
  height: auto; }
  .captionImage.leftAlone,
  .ss-htmleditorfield-file.image.leftAlone {
    float: left; }
  .captionImage.rightAlone,
  .ss-htmleditorfield-file.image.rightAlone {
    float: right; }
  .captionImage.center,
  .ss-htmleditorfield-file.image.center {
    display: block;
    float: none;
    margin: 0 auto; }
  .captionImage.left,
  .ss-htmleditorfield-file.image.left {
    float: left;
    padding-right: 0.5em; }
  .captionImage.right,
  .ss-htmleditorfield-file.image.right {
    float: right;
    padding-left: 0.5em; }

/**
 * Global typographic styles
 *
 * All typography formatting and general font settings
 * belong in this file. For unique blocks and widgets, etc
 * you should put those in their own component file
 **/
body,
html {
  font-family: "Arial", sans-serif;
  font-size: 16px; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.2rem; }

h3 {
  font-size: 1.8rem; }

h4 {
  font-size: 1.4rem; }

h5 {
  font-size: 1rem; }

p {
  margin: 0.4rem 0; }

ul,
ol {
  padding-left: 24px; }
  ul li,
  ol li {
    padding: 0.2em 0; }

a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

input,
select,
textarea,
option,
button {
  font-family: "Arial";
  font-size: 1rem;
  padding: 10px 16px;
  box-sizing: border-box;
  border: 1px solid #BBBBBB;
  width: 100%; }
  input:focus, input:active,
  select:focus,
  select:active,
  textarea:focus,
  textarea:active,
  option:focus,
  option:active,
  button:focus,
  button:active {
    border-color: #000000; }

.field {
  padding-bottom: 15px; }
  .field label {
    display: block;
    padding-bottom: 4px; }

input[type="submit"] {
  background: #BBBBBB;
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  border: 0;
  width: auto;
  padding: 10px 30px; }
  input[type="submit"]:hover {
    background: #a2a2a2; }

/**
 * Removes iOS default styling
 * 
 * Targets all necessary inputs and removes the blue underline for phone numbers
 **/
button,
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
  -webkit-appearance: none;
  border-radius: 0; }

a[href^="tel"] {
  color: inherit;
  text-decoration: none; }

::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.25); }

:-moz-placeholder {
  color: rgba(0, 0, 0, 0.25); }

::-moz-placeholder {
  color: rgba(0, 0, 0, 0.25); }

:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.25); }

table {
  margin: 10px 0;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse; }
  table tr {
    border-bottom: 1px solid #BBBBBB; }
    table tr th,
    table tr td {
      text-align: left;
      padding: 4px 8px;
      vertical-align: top; }
      table tr th:not(:first-child),
      table tr td:not(:first-child) {
        border-left: 1px solid #BBBBBB; }
    table tr th {
      font-weight: 600;
      background: #EEEEEE;
      vertical-align: bottom; }

/**
 * Self-contained components
 *
 * Any significant component that is reused throughout the site. Typically these would have
 * a matching template (ie Includes/{COMPONENT_NAME}), and js (ie js/{COMPONENT_NAME}).
 **/
header.page-header .branding {
  text-decoration: none; }
  header.page-header .branding img {
    max-width: 100%; }

footer.page-footer {
  padding: 2em 0;
  margin-top: 2em;
  border-top: 1px solid #EEEEEE; }

.menu__item {
  display: block;
  position: relative; }
  .menu__item--current > .menu__item__link {
    font-weight: 600; }
  .menu__item--expanded > .menu__submenu {
    display: block; }
  .menu__item__link {
    text-decoration: none; }

.menu__submenu {
  margin-left: 15px;
  display: none; }

.page-banner {
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 25%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .page-banner h1 {
    color: #FFFFFF; }
  .page-banner p {
    color: #FFFFFF; }
  .page-banner--no-image {
    background: #BBBBBB; }
  .page-banner__inner {
    padding: 30px 5%;
    min-height: 150px; }

/**
 * Page-specific
 *
 * These should match the class of said page (ie HomePage = homepage, Contact = contact)
 **/
.Security ul {
  display: none; }

.Security form {
  margin: 0 auto;
  /* align checkbox with label for 'remember me' */ }
  .Security form input.checkbox {
    width: inherit;
    float: left;
    margin: 3px 10px 0 0; }
  .Security form #ForgotPassword {
    display: inline-block; }
    .Security form #ForgotPassword a {
      display: inline-block;
      background: #BBBBBB;
      color: #FFFFFF;
      cursor: hand;
      cursor: pointer;
      text-decoration: none;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      padding: 10px 16px;
      box-sizing: border-box;
      border: 0; }
      .Security form #ForgotPassword a:hover {
        background: #a2a2a2; }


/*# sourceMappingURL=index.css.map*/